
#header {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 50px;
	line-height: 50px;
	font-size: 20pt;
	background-color: #4b2e83;
	color: white;
	font-family: 'Pacifico', cursive;
}

#search {
	float: right;
	margin: 0;
	border: 0;
	padding: 0;
}

input {
	margin-top: 10px;
	vertical-align: top;
	height: 25px;
	
	
}

#sidebar {
	position: fixed;
	left: 0;
	top: 50px;
	width: 20%;
	height: 100%;
	background-color: #e8e3d3;
	font-size: 18px;
	font-family: 'Open Sans', sans-serif;
}

#sidebar ul {
	list-style: none;
	margin-top: 0;
	padding: 0;
}

#sidebar li {
	display: block;
	color: black;
}

#sidebar li:hover {
	background-color: #b7a57a;
}

#content {
	position: relative;
	top: 50px;
	left: 20%;
	width: 80%;
}

/* groups.php */
#grouplist {
	font-family: 'Open Sans', sans-serif;
}

#grouplist h2 {
	
	margin: 0;
	padding: 0;
	
}

#grouplist p {
	margin: 0;
	padding: 0;
}

.groupOdd {
	background-color: #e5e5e5;
}

.groupEven {
	margin: 0;
	padding: 0;
	background-color: #cccccc;
}


#grouplist ul {
	display: inline;
	list-style: none;
}

#grouplist ul li {
	float: left;
	display: inline-block;
	margin-right: 2px;
	margin-left: 2px;
}

#grouplist ul li:hover {
	background-color: grey;
}